<?xml version="1.0" encoding="utf-8"?>
<!--TODO この設定ファイルに正しい値を入れて、User.config にリネームしてください-->
<appSettings>
  <add key="AWSAccessKey" value="AWS APIのアクセスキー"/>
  <add key="AWSSecretKey" value="AWS APIのシークレットアクセスキー"/>
  <add key="ELBName" value="アクセス数を見るELBの名前"/>
  <add key="AvailabilityZone" value="上のELBが所属するAZ"/>
</appSettings>